<div class="pt-4 my-0 m-0">
				<div id="newcarousel" class="carousel slide" data-ride="carousel">
 					<div class="carousel-inner">
    					<div class="carousel-item active">
      						<img src="./assets/images/carousel1.jpg" class="img-fluid mb-3">
      							<h2 class="text-center">See what's new on our menu!</h2>
    					</div>
    					<div class="carousel-item">
      						<img src="./assets/images/carousel2.jpg" class="img-fluid mb-3">
      							<h2 class="text-center">All-day Menu</h2>
    					</div>
    					<div class="carousel-item">
      						<img src="./assets/images/carousel3.jpg" class="img-fluid mb-3">
      						<h2 class="text-center">Improved and fresher ingredients' source</h2>
    					</div>
    					<div class="carousel-item">
      						<img src="./assets/images/carousel4.jpg" class="img-fluid mb-3">
      						<h2 class="text-center">Fire Oven Pizza</h2>
    						</div>
  						</div>
  					<a class="carousel-control-prev" href="#newcarousel" role="button" data-slide="prev">
    					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    						<span class="sr-only">Previous</span>
  					</a>
  					<a class="carousel-control-next" href="#newcarousel" role="button" data-slide="next">
    					<span class="carousel-control-next-icon" aria-hidden="true"></span>
    					<span class="sr-only">Next</span>
  					</a>
				</div>
			</div>