* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Anton', sans-serif;
}


/*landing page*/
#jumbo-landing {
	height: 100vh;
	padding: 5%;
	background:

	linear-gradient(
		rgba(255,222,173,0.15),
		rgba(61,56,47,0.15)
		),
	url(../images/food1.jpeg);

	background-size: cover;
	background-position: top;
	border-radius: 0;
}

.x::placeholder{
	color: #0c0f12;
}


/*about page*/

#jumbo-about {
	height: 100%;
	padding: 5%;
	background:

	linear-gradient(
		rgba(255,222,173,0.50),
		rgba(61,56,47,0.15)
		),
	url(../images/food2.jpeg);

	background-size: cover;
	background-position: top;
	border-radius: 0;
}

#jumbo-founders {
	height: auto;
	padding: 10%;
	background:

	linear-gradient(
		rgba(255,222,173,0.50),
		rgba(0,0,0,0.10)
		),
	url(../images/gallerybg.jpeg);

	background-size: cover;
	background-position: top;
	border-radius: 0;
}

.aboutpics img {
	width: 100%;
	box-shadow: 30px 5px 30px;
}

.aboutpics {
	text-align: center;
}

.aboutpics p {
	color: #222222;
}

#btnfounders {
	border: 2px solid black;
	background-color: #565656;
}

#btnfounders:hover {
	background-color: #D2691E;
}

.modal-dialog {
	padding-top: 20vh;
}

.modal-content {
	background-color: rgb(181,101,29);
}




.btn a {
	text-decoration: none;
	color: #231709;
}

#btnlanding {
	width: 250px;
	margin: auto;
	font-size: 24px;
	border: 5px solid black;
}



#btnabout {
	width: 300px;
	margin: auto;
	font-size: 24px;
	border: 5px solid black;
}

.btn:hover {
	background-color: #D2691E;
}

#btnabout {
	border: 5px solid black;
	width: 150px;
}

button .btnorder {
	color: #FFDEAD;
}

button .btnorder2 {
	color: #0c0f12;
}

#btnsubmit {
	width: 200px;
}
button .btnsubmit {
	color: #0c0f12;
}


.transparent-input {
	background-color:
	rgba(0,0,0,0);
}

.navbar {
	background-color: rgba(0,0,0,0.2);
	font-size: 24px;
}


.container1 {
	padding-top: 10%;
}

.container2 {
	padding-top: 5%;
}

.container3 {
	background-color: rgba(181,101,29,0.2);
	padding: 10px;
	box-shadow: -30px 20px 20px;
}

.container1 h1{
	font-size: 64px;
}

#landing1 {
	font-size: 32px;
}

#search {
	border-color: black;
}


/*gallery*/

#jumbo-gallery {
	height: auto;
	
	background:

	linear-gradient(
		rgba(255,222,173,0.50),
		rgba(0,0,0,0.10)
		),
	url(../images/gallerybg.jpeg);

	background-size: cover;
	background-position: top;
	border-radius: 0;
}

.carousel-inner {
	margin:0;
}

@media only screen and (max-width: 575px){
	.carousel-item h4 {
		font-size: 16px;
	}
}

.carousel-item h4 {
	color: black;
}


.carousel-item .img-fluid{
	height: auto;
	box-shadow: -0px 20px 20px;
}

.carousel-item h2 {
	padding: 1px;
	background-color: #0c0f12;
	color: #fec5e5;
}

@media only screen and (max-width: 600px) {
	.carousel-item h2 {
		font-size: 4vw;
	}
}

.menugroup {
	padding: 0;
	margin: 0 auto;
}


#menupics {
	width: 100%;
	border: 2px solid #0c0f12;
	padding: 0;
}

#menupics:hover {
	transform: scale(1.1);
	z-index: 1;
	position: absolute;
	box-shadow: 0 0 30px #000;
}

@media only screen and (max-width: 768px) {
	#menupics:hover {
		transform: scale(1);
	}
}

.menumodal img{
	width: 100%;
}



/*contact*/

#jumbo-contact {
	height: auto;
	padding: 5%;
	background:

	linear-gradient(
		rgba(255,222,173,0.50),
		rgba(61,56,47,0.15)
		),
	url(../images/food2.jpeg);

	background-size: cover;
	background-position: top;
	border-radius: 0;
}

iframe {
	width: 100%;
	display: block;
	border: none;
	height: 41vh;
	text-align: center;
	margin: auto;
}

#input {
	width: 100%;
	height: 200px;
	text-align: justify-all;
	margin: auto;
}

input {
	width: 100%;
}

#btnsubmit {
	margin: auto;
	border-color: #231709;
	background-color: #757575;
}

.lastone {
	text-align: center;
	width: 100%;
}

.lasticons {
	display: inline-block;
}

.lasticons .fab {
	color: #0c0f12;
}

footer {
	height: auto;
	background-color: #0c0f12; 
	border: black;
}

.fab {
	color: #565656;
}

.fab:hover {
	color: #FFDEAD;
}

.disclaimer {
	color: #565656;
}


